*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    /* border: 5px solid red; */
    height: 100%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
header{ 
    margin-top: 20px;
    font-size: 150%;
    padding: 30px;
}
header, .meat{
    text-align: center;
    font-weight: bold;
}

.row{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    padding: 20px;
}

.menu-item{
    /* width: calc(100% - 20px); */
   
    min-width: 150px;
    /* max-width: 530px; */
    background-color: rgb(226, 231, 231);
    border: 1px solid black;
    margin: 20px; 
    
}

.meat-container{
    display: grid;
    justify-content: end;
}

.meat{
    font-size: 125%;
    border-left: 1px solid black; 
    border-bottom: 1px solid black; 
    padding: 7px;
    width: 150px;
}

.details{
    padding:30px 15px ;
    font-size: 120%;

}

.chicken{
    background: rgb(128,155,242);
background: linear-gradient(90deg, rgba(128,155,242,1) 0%, rgba(70,218,196,1) 29%, rgba(220,242,128,1) 100%);
}

.beef{
    background: rgb(255, 166, 0);
background: linear-gradient(90deg, rgb(255, 166, 0, 1) 0%, rgba(218,70,175,1) 29%, rgb(68, 188, 204) 100%);
}

.sushi{
    background: rgb(242,128,167);
    background: linear-gradient(90deg, rgba(242,128,167,1) 0%, rgba(218,196,70,1) 29%, rgba(138,242,128,1) 100%);
}

@media (min-width:992px){
    .col-lg-4{
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

@media (min-width: 768px) and (max-width:991px){
    .col-md-6{
        grid-template-columns: 50% 50%;
    }
    .col-md-12{
        grid-column-start: span 2;
    }
    
}
